{% extends 'global/base.html' %}
{% block title%}{{ contact.first_name }} {{ contact.last_name }} | {% endblock title %}
{% block content %}

<h1 class="mt-5">{{contact}}</h1>
 {% if contact.profile_picture %}
  <p>
    <img src="{{contact.profile_picture.url}}" style="max-width: 250px; height: auto;">
  </p>  
 {% endif %} 
  

<dl>
  <dt>ID</dt>
  <dd>{{contact.id}}</dd>

  <dt>Cell Phone</dt>
  <dd>{{contact.cell_phone}}</dd>

  <dt>E-mail</dt>
  <dd>{{contact.email}}</dd>

  <dt>Created Date</dt>
  <dd>{{contact.created_date|date:'d/m/Y H:i' }}</dd>

  <dt>Category</dt>
  <dd>{{contact.category.name}}</dd>

  <dt>Description</dt>
  <dd>
    {{contact.description}}
  </dd>
</dl>

{% endblock content %}


