{% extends 'global/base.html' %}
 
{% block content %}
 <h1 class="mt-5">My Contact Book</h1>

 <table class="table">
   
  <thead>
     <tr>
       <th>ID</th>
       <th>Name</th>
       <th>Last Name</th>
       <th>Cell Phone</th>
       <th>Category</th>
     </tr>
   </thead>
   <tbody>
     <tr>
      {% for contact in contacts %} 
      <td>{{contact.id}}</td>
       <td>
         <a href="{% url 'contact' contact.id %} "> {{contact.first_name}}</a>
       </td>
       <td>{{contact.last_name}}</td>
       <td>{{contact.cell_phone}}</td>
       <td>{{contact.category.name}}</td>
     </tr>
     {% endfor %}
   </tbody>
 </table>
 

 {% include 'contacts/partials/paginate.html' %}
 {% endblock content %}

